if BOARD_RF_R1

config ZMK_KEYBOARD_NAME
	default "Cipulot RF R1"

config ZMK_USB
	default y

config ZMK_HID_INDICATORS
	default y

config BUILD_OUTPUT_UF2_USE_FLASH_BASE
	default y

config BUILD_OUTPUT_UF2_USE_FLASH_OFFSET
	default y

endif # BOARD_RF_R1
