CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=84000000
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_USB_SELF_POWERED=n
CONFIG_ZMK_EXT_POWER=n
CONFIG_GPIO=y
CONFIG_LED=y

CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_ZMS=y
CONFIG_SETTINGS=y
# TODO: When ZMK updates to Zephyr 4.2+ which has CONFIG_SETTINGS_ZMS_FORCE_MOUNT
# (upstream PR #101348), drop SETTINGS_CUSTOM, delete the `settings/` directory,
# and set CONFIG_SETTINGS_ZMS=y + CONFIG_SETTINGS_ZMS_FORCE_MOUNT=y.
CONFIG_SETTINGS_CUSTOM=y

CONFIG_USB_DEVICE_MANUFACTURER="Cipulot"
CONFIG_USB_DEVICE_VID=0x6369
CONFIG_USB_DEVICE_PID=0x6B8B

CONFIG_ZMK_BEHAVIOR_LOCAL_ID_TYPE_CRC16=y

CONFIG_ZMK_HID_REPORT_TYPE_NKRO=y

CONFIG_USE_DT_CODE_PARTITION=y
